h1 {
    color: rgb(85, 13, 220);
}
h2 {
    color:rgb(128, 8, 241);
}
p {
    color:rgb(53, 53, 53);
}
h3 {
    color:crimson;
}
li {
    color:brown;
}
body {
    background-color: white;
}

.image-holder {
    background-color: rgb(19, 188, 194);
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

img {
    width: 200px;
}
.image-holder2 {
    background-color: rgb(23, 199, 67);
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    border: 10px;
}
img {
    width: 200px;
}

.image-holder3 {
    background-color: rgb(170, 8, 84);
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
   }
   img {
       width: 200px;
   }
   .highlight {
    background-color: rgb(36, 230, 100);
  }
  .image-holder4 {
      background-color: rgb(161, 28, 28);
     
  }