h1 {
    color: rgb(85, 13, 220);
}
h2 {
    color:rgb(128, 8, 241);
}
p {
    color:rgb(53, 53, 53);
}
h3 {
    color:crimson;
}
li {
    color:brown;
}
body {
    background-color: white;
}

.image-holder {
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

img {
    width: 200px;
}